<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    

  <header>
      <h1>Ma<span class="mo">Mo</span>N<span class="ngoi">g</span></h1>
    
<div class="hamburger">
  <i class="fa fa-bars"></i>
</div>

    <nav class="nav-links">
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="project.html">Projects</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
<section id="about" class="home">
  <div class="home-text">
    <h2>About Me</h2>
    <p>
      Hi! I'm <strong> Mariam Ngoi</strong> a passionate student learning web development 
      I love creating digital solutions and beautiful visuals  My goal is to build projects that
      make a difference in the tech world 
    </p> 

    <h3>My Skills</h3>
    <div class="skills">
      <p>HTML</p>
      <input type="range" class="range">
      <p>CSS</p> 
      <input type="range" class="range">
      <p>JS</p>
       <input type="range" class="range">

      
     
     
      </div>
  </div>

  <div class="home-img">
    <img src="../images/nicee.png" alt="Mariam Image" />
  </div>
  
  
</section>
<a href="contact.html" class="btn">Contact Me</a>



 <footer>
    <p>© 2026 Mariam Ngoi</p>

    <p class="email">
      <a href="mailto:ngoimariam92@gmail.com">Send me Email</a>
    </p>

    <div class="social-icons">
      <a href="https://linkedIn.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </footer>
</body>
</html>