<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>project page</title>

    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
        <h1>Ma<span class="mo">Mo</span>N<span class="ngoi">g</span></h1>
      
      <div class="hamburger">
        <i class="fa fa-bars"></i>
      </div>

      <nav class="nav-links">
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="project.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="projects" class="projects">
      <h2>My Projects</h2>

      <div class="project-container">
        <div class="project-card">
          <img src="../images/exp.png" alt="Expense Tracker" />
          <h3>Expense Tracker</h3>
          <p>Expense Tracker helps user to track the daily expenses</p>
          >
        </div>

        <div class="project-card">
          <img src="../images/student.png" alt="Grade Manager" />
          <h3>Student Management System</h3>
          <p>
            Student Management System helps to calculate the grade of the
            student
          </p>
        </div>

        <div class="project-card">
          <img src="../images/todo-app.png" alt="Todo Appt" />
          <h3>Todo App</h3>
          <p>
            Todo App Help you to plan you day by writing the todo list daily
          </p>
        </div>
      </div>
    </section>
    <footer>
      <p>© 2026 Mariam Ngoi</p>

      <p class="email">
        <a href="mailto:ngoimariam92@gmail.com">ngoimariam92@gmail.com</a>
      </p>

      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </footer>
  </body>
</html>
